.depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    gap: 2rem;
    margin: 0 6rem;
    background: var(--vermelho-claro);
    border-radius: 1rem;
}

.depoimentos__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depoimentos__subtitulo {
    color: var(--vermelho);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    margin-bottom: 1rem;
}
.depoimentos__titulo {
    text-align: center;
    color: var(--cinza-escuro);
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: -0.045rem;
}

.user__img {
    margin-bottom: 1rem;
}

.user__name {
    font-weight: 500;
    color: var(--cinza-escuro);
}

.user__job {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@media screen and (max-width: 1024px) {
    .depoimentos {
        padding: 1rem;
        gap: 1rem;
        margin: 0 2rem;
    }

    .depoimentos__subtitulo {
        margin-bottom: 0.25rem;
    }
    .depoimentos__titulo {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.75rem;
        letter-spacing: -0.045rem;
        /* width: 90vw; */
    }

    .user__img {
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .depoimentos {
        padding: 1rem;
        gap: 1rem;
        margin: 1rem;
        text-align: center;
    }

    .depoimentos__subtitulo {
        margin-bottom: 0.25rem;
        width: 100%;
    }
    .depoimentos__titulo {
        font-size: 1.125rem;
        line-height: normal;
        width: 100%;
        font-weight: 400;
    }

    .user__img {
        margin-bottom: 0.5rem;
    }
}
