.rodape {
    text-align: center;
    padding: 6rem 0;
}

.rodape__titulo {
    color: var(--cinza-escuro);
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    letter-spacing: -0.045rem;
    margin-bottom: 1.25rem;
}

.rodape__texto {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 2rem;
}

.rodape__cadastro {
    margin-bottom: 2rem;
}

.rodape__email {
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid var(--cinza-borda);
    width: 30vw;
}

.rodape__email::placeholder {
    font-family: var(--fonte-principal);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
}

.rodape__button {
    padding: 0.625rem 1.125rem;
    border-radius: 0.5rem;
    background: var(--vermelho);
    box-shadow: 0px 1px 2px 0px var(--vermelho-claro);
    border: none;
}

.rodape__link {
    text-decoration: none;
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-weight: 500;
    border: 1px solid var(--vermelho);
}

.rodape__copr {
    color: var(--cinza-footer);
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5rem;
}
