.header__box,
.header__logo,
.header__list,
.header__buttons {
    display: flex;
    align-items: center;
}

.header__box {
    padding: 1rem 6rem;
}

.header__logo {
    gap: 0.5rem;
}

.header__logo-text {
    font-size: 1.125rem;
    font-weight: 500;
}

.header__list {
    gap: 2rem;
    margin: auto;
}

.header__link {
    text-decoration: none;
    color: var(--cinza-claro);
    font-weight: 500;
}

.header__buttons {
    gap: 0.5rem;
}

.header-button__primario {
    padding: 0.625rem 1.125rem;
    border-radius: 0.5rem;
    background: transparent;
    border: none;
}

.header-button__secundario {
    padding: 0.625rem 1.125rem;
    border-radius: 0.5rem;
    background: var(--vermelho);
    box-shadow: 0px 1px 2px 0px var(--vermelho-claro);
    border: none;
}

.header-button__secundario:hover {
    background: var(--vermelho-hover);
}

.button__link-primario {
    text-decoration: none;
    font-family: var(--fonte-principal);
    color: var(--cinza-claro);
    font-weight: 500;
    font-size: 1rem;
}

.button__link-secundario {
    text-decoration: none;
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-weight: 500;
    border: 1px solid var(--vermelho);
    font-size: 1rem;
    border: none;
}

.list__mobile {
    display: none;
}

.header__checkbox {
    display: none;
}

.logo-selected {
    display: none;
}

@media screen and (max-width: 1024px) {
    .header__box {
        padding: 2rem;
        gap: 1rem;
    }

    .header__logo-text {
        font-size: 1.125rem;
        font-weight: 600;
    }

    .header__list {
        gap: 1rem;
    }

    .header__link {
        font-size: 1rem;
    }

    .header__buttons {
        gap: 0.5rem;
    }

    .header-button__primario,
    .header-button__secundario {
        padding: 0.5rem;
    }

    .button__link-primario,
    .button__link-secundario {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 768px) {
    .header__box {
        padding: 1rem 2rem;
        gap: 1rem;
        justify-content: space-between;
        margin-bottom: 6rem;
    }

    .header {
        position: relative;
    }

    .header__logo {
        margin-left: 0.5rem;
    }

    .header__logo-img {
        width: 3rem;
        display: block;
        margin: 0;
        padding: 0;
    }
    .header__logo-text {
        display: none;
    }

    .header__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding: 0.5rem 1rem;
    }

    .header__link {
        color: var(--branco);
    }

    .header__list {
        display: none;
    }

    .header__checkbox:checked ~ .header__list {
        display: flex;
        position: absolute;
        justify-content: space-between;
        align-items: stretch;
        text-align: center;
        flex-wrap: wrap;
        top: 100%;
        gap: 0;
        background-color: var(--vermelho);
        border-radius: 1rem;
        margin-right: 2rem;
        width: 80vw;
    }

    .header__checkbox:checked ~ .header__list > .header__item:hover {
        background: var(--vermelho-hover);
        border-radius: 1rem;
        border: none;
    }

    .header__checkbox:checked ~ .header__rotulo > .logo-unselected {
        display: none;
    }

    .header__checkbox:checked ~ .header__rotulo > .logo-selected {
        width: 3rem;
        display: block;
        margin-bottom: 0.2rem;
    }
}
