.metricas {
    display: flex;
    margin: auto;
    gap: 2rem;
    padding: 0 6rem;
}

.metricas__box {
    width: 50%;
    padding: 2rem 0;
}

.metricas__numeros {
    color: var(--vermelho);
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 1.75rem;
    margin-bottom: 2rem;
}

.metricas__titulo {
    color: var(--cinza-escuro);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .metricas {
        gap: 1rem;
        padding: 0 2rem;
    }

    .metricas__numeros {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .metricas__titulo {
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 768px) {
    .metricas {
        flex-direction: column;
    }

    .metricas__box {
        text-align: center;
        width: 100%;
        padding: 0.5rem 0;
    }

    .metricas__numeros {
        margin-bottom: 0.5rem;
    }

    .metricas__titulo {
        line-height: 1.75rem;
        margin-bottom: 0rem;
    }
}
