@import url("../styles/header.css");
@import url("../styles/banner.css");
@import url("../styles/metricas.css");
@import url("../styles/talentos.css");
@import url("../styles/depoimentos.css");
@import url("../styles/footer.css");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --branco: #fff;
    --vermelho: #8e2424;
    --cinza-escuro: #101828;
    --cinza-claro: #667085;
    --vermelho-claro: #c3191908;
    --cinza-borda: #eaecf0;
    --cinza-footer: #98a2b3;
    --fonte-principal: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--branco);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--cinza-claro);
}
