.talentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem;
}

.talentos__info {
    text-align: center;
    margin-bottom: 4rem;
}

.talentos__titulo {
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--cinza-escuro);
    letter-spacing: -0.045rem;
    line-height: 2.75rem;
    margin-bottom: 0.5rem;
}

.talentos__subtitulo {
    display: inline-block;
    color: var(--vermelho);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    background: var(--vermelho-claro);
    margin-bottom: 0.5rem;
}

.talentos__img {
    margin-bottom: 4rem;
    border-radius: 1rem;
}

.talentos__vagas {
    display: inline-block;
    width: 60vw;
    margin: auto;
}

.vagas__titulo {
    color: var(--cinza-escuro);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
    margin-bottom: 2rem;
}

.vagas__box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border: 1px solid var(--cinza-borda);
    border-radius: 1rem;
}
.texto__box {
    display: flex;
    gap: 1.5rem;
}

.vagas__subtitulo {
    color: var(--cinza-escuro);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.vagas__texto {
    font-weight: 500;
}

@media screen and (max-width: 1024px) {
    .talentos {
        padding: 2rem;
    }

    .talentos__info {
        margin-bottom: 2rem;
    }

    .talentos__img {
        margin-bottom: 2rem;
    }

    .talentos__vagas {
        width: 70vw;
    }

    .vagas__titulo {
        margin-bottom: 1rem;
    }

    .vagas__box {
        gap: 1rem;
    }
    .texto__box {
        gap: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .talentos {
        padding: 2rem 2rem 0 2rem;
    }

    .talentos__info {
        margin-bottom: 1rem;
    }

    .talentos__img {
        display: none;
    }

    .talentos__vagas {
        width: 80vw;
    }

    .talentos__titulo {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .talentos__texto {
        line-height: normal;
    }

    .vagas__titulo {
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .vagas__box {
        gap: 1rem;
        margin: 1rem 0;
    }
    .texto__box {
        gap: 0;
        flex-direction: column;
    }

    .vagas__subtitulo {
        font-size: 1rem;
        font-weight: 500;
        line-height: normal;
    }
}
